.pokecard{
  width: 160px;
  height: 200px;
  background-color: rgba(255,255,255,0.1);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  border-top: 3px solid rgba(255,255,255,0.5);
  border-left: 2px solid rgba(255,255,255,0.4);
  border-right: 2px solid rgba(0,0,0,0.5);
  border-bottom: 2px solid rgba(0,0,0,0.7);
  position: relative;
}

.pokecard:hover{
  cursor: pointer;
  border-color: rgb(255, 255, 255)
}

.pokecard-wrapper{
  width: 164px;
  height: 205px;
  position: absolute;
  /* mix-blend-mode: hard-light; */
  z-index: 0;
  top: -3px;
  left: -2.5px;
  border-top: 3px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.4);
  border-right: 1px solid rgba(0,0,0,0.5);
  -webkit-mask: linear-gradient(#ff0, #0000);
   mask: linear-gradient(#ff0, #1111);
}

.pokecard img{
  width: 140px;
  height: 140px;
  background-color: rgba(255,255,255,0.2);
  border-top: 3px solid rgba(0,0,0,0.7);
  border-left: 2px solid rgba(0,0,0,0.5);
  border-right: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.3);
  position: relative;
}

.pokecard h4{
  margin-top: 0.6em;
  text-transform: capitalize;
  position: relative;
}

.normal{
  background-color: #A8A77A;
}

.fire{
  background-color: #EE8130;
}

.water{
  background-color: #6390F0;
}

.electric{
  background-color: #F7D02C;
}

.grass{
  background-color: #7AC74C;
}

.ice{
  background-color: #96D9D6;
}

.fighting{
  background-color: #C22E28;
}

.poison{
  background-color: #A33EA1;
}

.ground{
  background-color: #E2BF65;
}

.flying{
  background-color: #A98FF3;
}

.psychic{
  background-color: #F95587;
}

.bug{
  background-color: #A6B91A;
}

.rock{
  background-color: #B6A136;
}

.ghost{
  background-color: #735797;
}

.dragon{
  background-color: #6F35FC;
}

.dark{
  background-color: #705746;
}

.steel{
  background-color: #B7B7CE;
}

.fairy{
  background-color: #D685AD;
}